[submodule "ray2sing"]
	path = ray2sing
	url = https://github.com/mn-hacker/ray2sing.git
[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = https://github.com/hiddify/hiddify-sing-box.git
